html:not(.dark) .Layout, .VPNavScreen {
    background: url('/images/basic/bg-2.png') no-repeat center center fixed;
    background-size: cover;
}

html.dark .Layout,html.dark .VPNavScreen {
    background: url('/images/basic/bg-2-dark.png') no-repeat center center fixed;
    background-size: cover;
}