html:not(.dark) .Layout,html:not(.dark) .VPNavScreen,html:not(.dark) .items:has(> .header) {
    background: url('/images/ui/bg-3.jpg') no-repeat center center fixed;
    background-size: cover;
}

html.dark .Layout,html.dark .VPNavScreen, .items:has(> .header) {
    background: url('/images/ui/bg-3-dark.jpg') no-repeat center center fixed;
    background-size: cover;
}