/* hero */
.container:has(> .main) {
    background: var(--zm-background-medium);
    backdrop-filter: var(--zm-backdrop-blur-medium);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
    width: 100% !important;
    max-width: 1312px;
}

/*主页下方features和菜单*/
.VPFeature {
    background: var(--zm-background-medium) !important;
    backdrop-filter: var(--zm-backdrop-blur-medium);
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}


.backdrop {
    backdrop-filter: var(--zm-backdrop-blur-low);
}

.shell,.search-bar {
    background: var(--zm-background-high) !important;
    backdrop-filter: var(--zm-backdrop-blur-medium) !important;
    border: 2px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 16px !important;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3) !important;
    transition: border 0.2s ease;
}

.shell {
    width: min(100vw - 60px, 700px) !important;
}

.search-bar:focus-within {
    border: 2px solid var(--vp-c-brand-1) !important;
}

.search-bar {
    padding-left:2px !important;
    padding-right:4px !important;
}

.search-keyboard-shortcuts {
    background: var(--zm-background-high) !important;
    backdrop-filter: var(--zm-backdrop-blur-medium) !important;
    border: 1px solid rgba(255, 255, 255, 1) !important;
    border-radius: 16px !important;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1) !important;
    padding:7px 8px;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

/* 404界面 */
.NotFound {
    background: var(--zm-background-medium);
    backdrop-filter: var(--zm-backdrop-blur-medium);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.NotFound .action .link{
    background: var(--zm-background-medium);
    backdrop-filter: var(--zm-backdrop-blur-medium);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}