@media (min-width: 768px) {
    .VPNavBarSearchButton{
        position: relative;
    }

    .VPNavBarSearchButton:before{
        content: '';
        position: absolute;
        inset: -2px;
        border-radius: 10px;
        background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
        z-index: -1;
    }
}

@media(max-width: 768px){
    .VPNavBarSearchButton, .VPNavBarHamburger{
        margin: calc(var(--vp-nav-height) * 0.15) 7px;
        height: calc(var(--vp-nav-height) * 0.7) !important;
        border-radius: 8px !important;
    }

    .VPNavBarSearchButton{
        padding: 0 7px !important;
    }

    .VPNavBarHamburger{
        width: 36px !important;
    }

    .VPNavBarSearchButton:active, .VPNavBarHamburger:active{
        background-color: rgba(0, 0, 0, 0.2) !important;
    }
}

.dark {
    .VPNavBarSearchButton{
        background: var(--vp-button-alt-bg);
    }
}
