.prev-next {
    border-top:none !important;
}

.VPLink.link.no-icon.edit-link-button{
    border-radius: 16px !important;
    padding: 0 10px !important;
}

.VPLink.link.no-icon.edit-link-button:hover{
    background-color: rgba(0, 0, 0, 0.08) !important;
}

.VPLink.link.no-icon.edit-link-button:active{
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.content-container:has(> .main) :is(p):not(.VPLastUpdated) {
    padding: 0.2em 0.8em;
}

.content-container:has(> .main) :is(ul) {
    padding: 0.2em 1.5em;
}

.content-container:has(> .main) :is(ol) {
    padding: 0.2em 0.8em 0.2em 2em;
}

.content-container:has(> .main) :is(h1, h2) {
    margin: 0 auto;
}

.content-container:has(> .main) :is(h1, h2, h3, h4, h5, h6) {
    padding: 0.2em 0.5em;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.compact-left {
    width: fit-content !important;
    margin-left: 0 !important;
    margin-right: auto !important;
}

.compact-right {
    width: fit-content !important;
    margin-right: 0 !important;
    margin-left: auto !important;
}

.compact-center {
    width: fit-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

@media(max-width: 640px){
    .VPLink.link.no-icon.edit-link-button,.VPLastUpdated,.edit-info{
        width: fit-content !important;
        margin: auto;
        line-height: 32px !important;
    }
    .edit-info{
        padding: 5px 10px !important;
    }
}

@media(max-width: 1279px ) and (min-width: 961px){
    .Layout:has(.VPLocalNav.has-sidebar:not(.empty)) .VPContent.has-sidebar{
        padding-top: 0 !important;
    }
}