/* 顶栏 */
html {
    container-type: scroll-state;
}

:root{
    --vp-nav-height: 48px;
}

.VPNavBar.home{
    background: none !important;
    border-bottom: none !important;
    transition: all 0.15s ease;
}

.VPNavBar{
    background: none !important;
}

.container:has(> .title){
    background: var(--zm-background-medium) !important;
    backdrop-filter: var(--zm-backdrop-blur-medium);
    -webkit-backdrop-filter: var(--zm-backdrop-blur-medium-webkit);
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding:0 20px 0 10px !important;
    margin-top: 20px !important;
    transition: margin 0.15s ease, border-radius 0.15s ease;
    max-width: none;
}

.content-body:has(> .VPNavBarSearch.search){
    padding-right: 0 !important;
    max-width: 100% !important;
}

.wrapper:has(> .container){
    max-width:1440px !important;
    margin: 0 auto !important;
    transition: all 0.15s ease;
}

@media(min-width: 960px){
    .wrapper:has(> .container){
        padding: 0 64px;
    }
}

@media(max-width: 960px){
    .wrapper:has(> .container){
        padding: 0 12px;
        will-change: padding;
        transition: padding 0.3s ease;
    }
    .VPNav{
        position: sticky !important;
    }
    .VPNavScreen{
        /*noinspection CssUnresolvedCustomProperty*/
        padding-top: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 20px) !important;
    }
    .VPHero{
        transition: padding 0.3s ease;
    }
    .container:has(> .title){
        transition: margin 0.3s ease ,border-radius 1s ease;
    }
}

@media(max-width: 768px){
    .container:has(> .title){
        padding: 0 2px !important;
    }
}

@container scroll-state(scrollable: top) {
    .container:has(> .title){
        margin: 0 !important;
        min-width:100% !important;
        border-radius: 0 0 16px 16px;
    }
    .wrapper:has(> .container){
        padding:0;
    }
    @media(max-width: 768px){
        .VPHero{
            padding-top: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 68px) !important;
        }
    }
}

.title:has(> .VPImage) {
    margin-top: calc(var(--vp-nav-height) / 6);
}